SITE_URL=http://localhost/myphp/musici/
SITE_TIMEZONE=Asia/Tehran

DB_NAME=your_database
DB_PASS=your_password
DB_HOST=localhost
DB_USER=root

SMS_API_KEY=your_api_key

OTP_DURATION=90
OTP_LENGTH=4

HOME_MUSIC_COUNT=12